/* 헤더 */

div.hdrWrap>div.header{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  line-height: 80px;
  text-align: center;
}
div.hdrWrap>div.header::after{
  clear: both;
  content: '';
  display: block;
}
div.hdrWrap>div.header>i{ 
  float: left;
  font-size: 40px;
  margin-top: 20px;
  cursor: pointer;
}
div.hdrWrap>div.header>div.image{
  width: calc(100% / 12 * 2);
  height: 80px;
  float: left;
  background-image: url('./images/Coca-Cola-Logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: calc(100%  / 12 * 4 + 20px);
}
div.hdrWrap>div.header>ul.nav{
  float: right;
}
div.hdrWrap>div.header>ul.nav>li{
  float: left;
  margin-left: 30px;
  text-transform: capitalize;
  font-weight: 700;
  cursor: pointer;
  font-size: 24px;
}
/* 메인 */

div.mainWrap{}
div.mainWrap>div.main{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}
div.mainWrap>div.main>div.texts{
  text-align: center;
}
div.mainWrap>div.main>div.texts>h2{
  font-size: 36px;
  font-weight: 700;
  margin-top: 80px;
}
div.mainWrap>div.main>div.texts>p{
  font-size: 20px;
  width: calc(100% / 12 * 4 - 20px);
  margin: 0 auto;
  overflow: hidden;
  margin-top: 40px;
  height: 40px;
  line-height: 20px;
}
div.mainWrap>div.main>div.image{
  height: 560px;
  width: calc(100% / 12 * 11);
  background-image: url('./images/KakaoTalk_Photo_2021-02-10-16-39-48.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 40px;
}
div.mainWrap>div.main>ul.imageButton::after{
  display: block;
  content: '';
  clear: both;
}
div.mainWrap>div.main>ul.imageButton{
  float: right;
  margin-top: -160px;
}
div.mainWrap>div.main>ul.imageButton>li:nth-child(1){
  background-color: #000;
}
div.mainWrap>div.main>ul.imageButton>li{
  height: 20px;
  width: 20px;
  float: right;
  border-radius: 50%;
  background-color: rgb(194, 194, 194);
  margin: 20px 0 ;
  cursor: pointer;
}

/* 컨텐츠 공통영역 */

div.cntWrap{
  margin-top: 80px;
}
div.cntWrap>div.content{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}
div.cntWrap>div.content>div.header>h2{
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
div.cntWrap>div.content>div.header>p{
  font-size: 20px;
  height: 40px;
  overflow: hidden;
  line-height: 20px;
  width: calc(100% / 12 * 4 - 20px);
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}
div.cntWrap>div.content>div.section>div.article>div.texts>h3{
  font-size: 30px;
  font-weight: 700;
}
div.cntWrap>div.content>div.section>div.article>div.texts>p{
  line-height: 20px;
  overflow: hidden;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.sns{
  font-size: 30px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>div.sns>i{
  cursor: pointer;
}

/* 컨텐츠1 */

div.cntWrap>div.content.cnt01{
  width: 100vw;  
  max-width: none;
}
div.cntWrap>div.content.cnt01>div.header{
  height: 280px;
  background-color: #ff0000;
}
div.cntWrap>div.content.cnt01>div.header>h2{
  font-size: 36px;
 padding-top: 80px;
}
div.cntWrap>div.content.cnt01>div.header>p{
  font-size: 20px;
  width: calc(100% / 12 * 5.5);
  margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article::after{
  display: block;
  content: '';
  clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
  height: 600px;
  width: calc(100% / 12 * 5 + 20px);
  float: left;
  background-image: url(./images/타임지.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
  float: left;
  width: calc(100% / 12 * 3.5);
  margin-left: 90px;
  margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{
  font-size: 30px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h5{
  font-size: 16px;
  line-height: 20px;
  height: 80px;
  margin-top: 40px;
  font-weight: 700;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
  font-size: 20px;
  width: calc(100% / 3.5 * 2 + 20px);
  height: 200px;
  line-height: 20px;
  font-weight: 0;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.sns{
  margin-top: 40px;
}

/* 컨텐츠2 */

div.cntWrap:nth-child(4){
  background-color: #ff0000;
  color: #fff;
}
div.cntWrap>div.content.cnt02>div.header{
  padding-top: 80px;
}
div.cntWrap>div.content.cnt02>div.header>h2{
  font-size: 36px;
}
div.cntWrap>div.content.cnt02>div.header>p{
  font-size: 20px;
}
div.cntWrap>div.content.cnt02>div.section{
  padding-bottom: 80px;
}
div.cntWrap>div.content.cnt02>div.section>div.article::after{
  display: block;
  content: '';
  clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.article:nth-child(1){
  margin-top: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.article:nth-child(2){
  margin-top: 120px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
  float: left;
  margin-left: 90px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i1{
  height: 200px;
  width: calc(100% / 12 * 5.5);
  background-image: url(./images/Coca-cola-package-history-ms-08.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i2{
  height: 320px;
  width: calc(100% / 12 * 5.5);
  background-image: url(./images/Coca-cola-package-history-ms-09.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
  float: right;
  width: calc(100% / 12  * 4.5);
  margin: 0 auto;
  text-align: center;
  margin-right: 70px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h3{
  font-size: 18px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h5{
  font-size: 18px;
  margin-top: 40px;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>p{
  font-size: 14px;
  height: 80px;
  margin-top: 40px;
  width: calc(100% / 4.5 * 4);
  margin: 0 auto;
  margin-top: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.sns{
  color: #000;
  margin-top: 40px;
}

/* 컨텐츠3 */

div.cntWrap>div.content.cnt03>div.section{
  margin-top: 80px;
}
div.cntWrap>div.content.cnt03>div.section::after{
  display: block;
  content: '';
  clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.article{
  width: calc(100% / 12 * 6 - 20px);
  float: left;
  margin: 0 10px;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(2)~div.article{
  display: none;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
  height: 520px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i1{
  background-image: url(./images/crocs.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i2{
  background-image: url(./images/76bb1126cdee2f5965409a4ab521c415.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i3{
  background-image: url(./images/thumb-37b0813cbae153cb23247a3a8976ed35_1545265834_8698_600x600.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i4{
  background-image: url(./images/Kith-x-Coca-Cola-x-Converse-Collection-main.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts{
  text-align: center;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h3{
  font-size: 30px;
  margin-top: 80px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h5{
  font-size: 20px;
  margin-top: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{
  font-size: 20px;
  width: calc(100% / 6 * 4);
  height: 80px;
  margin: 0 auto;
  margin-top: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>div.sns{
  margin-top: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.btn{
  font-size: 70px;
  font-weight: 700;
  position: relative;
  cursor: pointer;
}
div.cntWrap>div.content.cnt03>div.section>div.btn>div.left{
  position: absolute;
  bottom: 0;
  left: 0;
}
div.cntWrap>div.content.cnt03>div.section>div.btn>div.right{
  position: absolute;
  bottom: 0;
  right: 0;
}
div.cntWrap>div.content.cnt03>div.section>ul.nav{
  float: left;
  margin-top: 80px;
}
div.cntWrap>div.content.cnt03>div.section>ul.nav>li:nth-child(1){
  margin-left: 70px;
}
div.cntWrap>div.content.cnt03>div.section>ul.nav>li{
  font-size: 24px;
  font-weight: 700;
  margin-left: 200px;
  float: left;
  font-weight: 700;
  cursor: pointer;
}

/* 푸터 */

div.ftrWrap{
  background-color: #fe0000;
  color: #000;
}
div.ftrWrap>div.footer{
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 80px 0;
}
div.ftrWrap>div.footer::after{
  clear: both;
  display: block;
  content: '';
}
div.ftrWrap>div.footer>div.image{
  width: calc(100% / 12 * 2);
  height: 80px;
  background-image: url('./images/Coca-Cola_logo_white.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
div.ftrWrap>div.footer>p{
  width: calc(100% / 12 * 8);
  line-height: 20px;
  height: 60px;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}
div.ftrWrap>div.footer>div.sns{
  text-align: center;
  font-size: 30px;
}
div.ftrWrap>div.footer>div.sns>i{
  margin: 0 20px;
  line-height: 80px;
  cursor: pointer;
}
div.ftrWrap>div.footer>h4{
  line-height: 20px;
  font-size: 20px;
  float: right;
}