/* 헤더 */

div.hdrWrap>div.header{
  width: 90%;
  max-width: 700px;
}
div.hdrWrap>div.header>ul.nav{
  display: none;
}

/* 메인 */
div.mainWrap{
  margin-top: 80px;
}
div.mainWrap>div.main{
  width: 90%;
  max-width: 700px;
}
div.mainWrap>div.main>div.image{
  height: 320px;
}
div.mainWrap>div.main>h2{
  font-size: 24px;
}

/* 컨텐츠1 */
div.cntWrap>div.content{
  width: 90%;
  max-width: 700px;
}
div.cntWrap>div.content.cnt01>div.header>h2{
  font-size: 18px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{
  font-size: 12px;
  margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
  font-size: 12px;
  margin-top: 80px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
  height: 680px;
}
div.cntWrap:nth-child(1){
  margin-top: 80px;
}

/* 컨텐츠2 */

div.cntWrap>div.content.cnt02>div.header>h2{
  font-size: 24px;
}
div.cntWrap>div.content.cnt02>div.header>p{
  font-size: 12px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article{
  margin: 0 auto;
  width: 50%;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.image{
  height: 280px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>h3{
  font-size: 24px;
  margin-top: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>h5{
  font-size: 18px;
  margin-top: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.artTop>div.article>div.texts>p{
  font-size: 12px;
  margin-top: 40px;
  width: calc(100% / 4 * 2);
  height: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article:nth-child(2)~div.article{
  margin-top: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm::after{
  clear: both;
  display: block;
  content: '';
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article{
  width: calc(50% - 20px);
  float: left;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.image{
  height: 320px;
  background-size: cover;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts>h3{
  font-size: 24px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article>div.texts>p{
  font-size: 12px;
  height: 40px;
  width: calc(50%);
  margin: 0 auto;
  margin-top: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.artBtm>div.article{
  margin: 0 10px;
}

/* 컨텐츠3 */

div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
  height: 440px;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(3){
  display: none;
}
div.cntWrap>div.content.cnt03>div.section{
  margin-top: 80px;
  padding: 0 90px;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(2){
  float: right;
}
div.cntWrap>div.content.cnt03>div.section>div.article{
  width: calc(100% / 8 * 3 - 20px);
  margin: 0 10px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h3{
  font-size: 24px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h5{
  font-size: 16px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{
  font-size: 12px;
  height: 40px;
  width: calc(100% / 3 * 2.5);
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>div.sns{
  font-size: 30px;
}
div.cntWrap{
  margin-top: 160px;
}

/* 컨텐츠4 */

div.cntWrap>div.content.cnt04>div.header>h2{
  font-size: 24px;
}
div.cntWrap>div.content.cnt04>div.header>p{
  font-size: 16px;
  width: calc(50%);
}
div.cntWrap>div.content.cnt04>div.section{
  margin-top: 80px;
}
div.cntWrap>div.content.cnt04>div.section>div.image{
  height: 360px;
  margin-top: -270px;
  float: left;
  width: calc(100% / 8 * 5);
  box-shadow: rgb(124, 124, 124) 6px 6px ;
}
div.cntWrap>div.content.cnt04>div.section>div.article>div.image{
  height: 400px;
  width: 100%;
}
div.cntWrap>div.content.cnt04>div.section>div.article>div.texts{
  margin-top: 40px;
  width: calc(100% / 8 * 3 - 20px);
  box-shadow: 0px 0px;
}
div.cntWrap>div.content.cnt04>div.section>div.article>div.texts>h3{
  font-size: 24px;
}
div.cntWrap>div.content.cnt04>div.section>div.article>div.texts>p{
  height: 120px;
  margin: 0 auto;
  font-size: 14px;
  margin-top: 40px;
  width: calc(100% / 3 * 2.2);
}
div.cntWrap>div.content.cnt04>div.section>div.article>div.texts>div.sns{
  font-size: 30px;
}
div.cntWrap>div.content.cnt04>div.section>ul.nav>li{
  font-size: 18px;
  margin: 0 30px;
  line-height: 40px;
}

/* 푸터 */

div.ftrWrap{
  margin-top: -40px;
}
div.ftrWrap>div.footer{
  margin-top: 40px;
}
div.ftrWrap>div.footer>div.image{
  width: calc(100% / 8 * 2 - 20px);
  height: 60px;
}
div.ftrWrap>div.footer>p{
  font-size: 12px;
  height: 60px;
  width: calc(100% / 8 * 6);
  margin-top: 20px;
}
div.ftrWrap>div.footer>div.sns{
  margin-top: 20px;
  font-size: 30px;
}
div.ftrWrap>div.footer>h4{
  font-size: 12px;
}